<html>
    <head>
        <title>Stylists</title>
    </head>
    <body>
        <h3>stylists.twig</h3>
        <h2>HAIR SALON!</h2>
        <ul>
        {% for stylist in stylists %}
        <li> {{ stylist.getName() }}</li>
        {% endfor %}
        </ul>

       

        

    </body>
</html>
